

:root {
    --primary: #ac9e71fb;
    --bg:black;
  
  }
  
  * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
   
  body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #010101;
    
  }
  
  /* Navbar */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(219, 205, 153);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700; 
    color: #000000;
    font-style: italic;
  }
  
  .navbar .navbar-logo span {
    color: #a0723ed5;
  }
  
  .navbar .navbar-nav a {
    color: #000000;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
  
  }
  
  .navbar .navbar-nav a:hover {
    color: black;
  }
  
  
  .navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  
  .navbar .navbar-extra a {
    color: #000000;
    margin: 0 0.5rem;
  }
  
  .navbar .navbar-extra a:hover {
    color: var(--primary);
  }
  
  #hamburger-menu {
    display: none;
  }
  
  /* Hero Section */
  
  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  
  }
  
  .hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg,
    rgb(255, 255, 255) 8%, rgba(255, 255, 255, 0) 50%);
  
  }
  
  
  .hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
  }
  
  
  .hero .content h1 {
    font-size: 5em;
    color: #000000;
    text-shadow: 1px 1px 3px rgb(170, 144, 30);
    line-height: 1.2;
  }
  
  .hero .content h1 span {
    color: var(--primary);
  }
  
  .hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
  }
  
  .hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    color: white;
    background-color: var(--primary);
    border-radius: 15px;
    box-shadow:  0 0 0.8rem var(--primary);
  }

  .hero .content .cta:hover{
    box-shadow: none;
  }

  
  
  /* About section */
  
  
  
  /* About */
  
  .about,
  .contact
  {
    padding: 8rem 7% 1.4rem;
  }
  
  .about h2,
  .contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }
  
  .about h2 span, 
  .contact h2 span {
    color: var(--primary);
  }
  
  
  .about .row {
    display: flex;
  }
  
  .about .row .about-img {
    flex: 1 1 45rem;
  }
  
  .about .row .about-img img {
    width: 85%;
    height: 85%;
    border-radius: 18px;
  }
  
  
  .about .row .content {
    flex: 1 1 35rem;
    padding:  0 1rem;
  }
  
  .about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  
  }
  
  .about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 100px;
    line-height: 1.6rem;
  }
  
  
  
  
  /* Products Section */
  .products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin: 4rem; 
  }
  
  .products h2 {
    color: var(--primary);
    text-align: center;
    font-size: 3rem;
  }
  
  
  
  .products .product-card {
    text-align: center;
    border: 1px solid #666;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
  }
  
  .products .product-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .products .product-icons a {
    width: 4rem;
    height: 4rem;
    color: black;
    margin: 0.3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .products .product-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
  
  .products .product-image {
    padding: 1rem 0;
  }
  
  .products .product-image img {
    height: 25rem;
  }
  
  .products .product-content h3 {
    font-size: 3rem;
  }
  
  .products .product-thumbs-up {
    font-size: 1.7rem;
    padding: 0.8rem;
    color: var(--primary);
  }
  
  
  .products .product-price {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .products .product-price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.8rem;
    color: red;
  }

  /* service */
  .service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


.service {
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.services .icon {
    font-size: 3em;
}

.services h3 {
    font-size: 1.5em;
} 

.services p {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8em;
}


  /* Contact */
  .contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #fff;
  }
  
  
  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
  }
  
  .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
  }
  
  .contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color:#bbb385;
    border-radius: 15px;
    border: 1px solid #eee;
    padding-left: 2rem;
    color: white;
  }
  
  .contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
  }
  
  .contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 15px;
    background-color: var(--primary);
    cursor: pointer;
    box-shadow: 0 0 0.3rem var(--primary);
  }
  .contact .row form .btn:hover{
    box-shadow: none;
  }
  
  
  /* Footer */
  
  footer {
    background-color: black;
    text-align: center;
    padding: 1rem 3rem;
    margin-top: 3rem;
  }
  
  footer .socials {
    padding: 0.8rem 0;
    
  }
  
  footer .socials a {
    color: #fff;
    margin: 1rem;
    font-size: 13px;
    
  }
  
  footer .socials a:hover {
    color: var(--primary);
  }
  

  /* qris */
  
  /* Laptop */
  @media (max-width: 1366px) {
    html {
      font-size: 75%;
    }
  }
  
  /* Tablet */
  @media (max-width: 758px) {
    html {
      font-size: 62.5%;
    }
  
  #hamburger-menu {
    display: inline-block;
  }
  
  
    .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #fff;
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
    }
  
  
  .navbar .navbar-nav.active {
    right: 0;
  }
  
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
  
    .about .row {
      flex-wrap: wrap;
    }
    .about .row .about-img img {
      height: 24rem;
      object-fit: cover;
      object-position: center;
    }
  
    .about .row .content {
      padding: 0;
    }
  
    .about .row .content h3 {
      margin-top: 1rem;
      font-size: 2rem;
    }
  
    .about .row .content p {
      font-size: 1.6rem;
    }
    .menu p {
      font-size: 1.2rem;
    }
  
    .contact .row {
      flex-wrap: wrap;
    }
  
    .contact .row .map {
      height: 30rem;
    }
  
    .contact .row form {
      padding-top: 0;
    }
      
    
  }
  
  /* Handphone */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }